<html>
    <title>Problems occurred</title>
    <body>
        <h3>You must be authorized to gain access to the server</h3>
        <p>Access the relying party and become authorized before accessing the service.</p>
    </body>
</html>