<html>
    <title>Problems occurred</title>
    <body>
        <h3>You hit a snag</h3>
        <p>Some problem has occurred with your access to the website. Some common problems include:</p>
        <ul>
          <li>Accessing the website without being authenticated. To solve this problem, please first access the
appropriate OpenID Connect login first.</li>
        </ul>
    </body>
</html>